body {
    color: aliceblue;
    background-color: black;

}

h1 {
    color: rgb(14, 12, 12);
    background-color: aliceblue;
    border-color: aliceblue;
    border-radius: 70px;

    text-align: center;
    font-family: "Fascinate Inline", system-ui;
}

ul {
    color: aliceblue;
    list-style-type: none;

}

li {
    text-align: center;
}

a {
    color: aliceblue;
}

.luffy {
    filter: drop-shadow(10px 10px 10px);
    position: absolute;
    height: 550px;
    right: 10px;
}
p{  text-align: justify;
    line-height: 50px;
    text-shadow: 10px 10px 10px;
}