div{background-color: coral;}

body {
    background-color: rgb(137, 137, 175);
    color: antiquewhite
}

h2 {
    color: rgb(247, 247, 247);
}

a:visited {
    color: rgb(255, 255, 255);
}
div{
    text-align: center;
}