* {
font-size: 25px;
}

h1{
    border-top-right-radius: 50%;
    color: aliceblue;
    background-color: blue;
    font-size: 5.08rem;
}
ul{
    color: aliceblue;
    background-color: aqua;
    font-size: 2rem;
}
li{
    font-size: 3em;
}
#lol{
    font-size: 15px;
}
